<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.vatsalkesarwani.intentsndservices">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ResultActivity"></activity>
        <activity android:name=".Activity.startActivity" />
        <activity android:name=".Activity.SecondActivity" />
        <activity android:name=".Activity.ExplicitIntent" />
        <activity android:name=".Activity.OpenUrl" />
        <activity android:name=".Activity.ActivityCycle" />
        <activity
            android:name=".Activity.SCI_TablLayouy_FrameLayout"
            android:label="TabLayout with FrameLayout" />
        <activity
            android:name=".Activity.ViewStubActivity"
            android:label="View Stub Activity" />
        <activity
            android:name=".Activity.HorizontslScrollView"
            android:label="Horizontal Scroll View" />
        <activity
            android:name=".Activity.AnalogDigital"
            android:label="Digital Analog" />
        <activity
            android:name=".Activity.TimePicker"
            android:label="Time Picker" />
        <activity
            android:name=".Activity.SCI_DynamicRadioButtom"
            android:label="Dynamic Radio Button" />
        <activity
            android:name=".Activity.SCI_RatingBar"
            android:label="RatingBar" />
        <activity
            android:name=".Activity.SCI_seekbar"
            android:label="Seekbar" />
        <activity android:name=".Activity.SCI_CustomRadioButton" />
        <activity
            android:name=".Activity.SCICheckBox"
            android:label="Custom CheckBox" />
        <activity
            android:name=".Activity.SCIToast"
            android:label="Toast" />
        <activity
            android:name=".Activity.Dailogs"
            android:label="Dailog"
            android:parentActivityName=".Activity.SystemIntent" />
        <activity
            android:name=".Activity.SystemIntent"
            android:label="System Intent"
            android:parentActivityName=".Activity.IntentActivity" />
        <activity
            android:name=".Activity.IntentActivity"
            android:label="Intent"
            android:parentActivityName=".Activity.MainActivity2" />
        <activity
            android:name=".Activity.MainActivity3"
            android:label="WebView"
            android:parentActivityName=".Activity.MainActivity2" />
        <activity
            android:name=".Activity.MainActivity2"
            android:label="Court Counter"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="Just Java">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>